@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400&family=Playfair:opsz@5..1200&family=Tiro+Gurmukhi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --bg-color: #0C0E0F;
    --pm-color: #efad06;
    --ac-color: #36e570;
    --tx-color: white;
    --gr-color: gray;

    --mn-font: 'JetBrains Mono', monospace;
    --hd-font: 'Tiro Gurmukli', serif;
    --rd-font: 'Playfair', serif;
}
.pm-color{
    color: var(--pm-color);
}
.ac-color{
    color: var(--ac-color);
}

.mn-font{
    font-family: var(--mn-font);
}
.hd-font{
    font-family: var(--hd-font);
}
.rd-font{
    font-family: var(--rd-font);
}

*{
    padding: 0px;
    margin: 0px;
    text-underline-offset: 5px;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--bg-color);
    color: white;
    font-family: var(--mn-font);
}

h1{
    font-size: 3rem;
    font-family: var(--hd-font);
}
h2{
    font-size: 2.5rem;
    font-family: var(--hd-font);
    position: sticky;
    top: -1px;
    padding: 10px 0px;
    margin: 5px 0px;
    background-color: var(--bg-color);
    z-index: 10;
}

p{
    font-family: var(--rd-font);
    font-weight: 300;
    font-size: 1.5rem;
}
hr{
    margin: 1.5rem 0px;
    opacity: 0.2;
    z-index: 0;
}
u{
    text-decoration: underline solid 1px;
    color: var(--ac-color);
}

button:hover{
    color: var(--tx-color);
}
del{
    text-decoration: solid line-through 1px #ff5555;
    color: #ff5555;
}
strong{
    color: var(--pm-color);
}
em{
    color: var(--ac-color);
}
a{
    /* color: var(--ac-color); */
    cursor: pointer;
}
a:hover{
    color: var(--pm-color);
}

p{
    text-align: justify;
    text-justify: inter-word;
}

.primary-button{
    padding: 0.7rem 1rem;
    background-color: var(--ac-color);
    color: var(--bg-color);
    box-shadow: 2px 2px 0px var(--bg-color), 
        3px 3px 0px var(--ac-color);
    transition: all ease-in-out 0.08s;
}
.primary-button:hover{
    color: var(--bg-color);
    transform: translate(-2px, -2px);
    box-shadow: 3px 3px 0px var(--bg-color), 
        5px 5px 0px var(--ac-color);
}
.primary-button:active{
    background-color: var(--tx-color);
    transform: translate(3px, 3px);
    box-shadow: 2px 2px 0px var(--bg-color);
}
.secondary-button{
    padding: 0.7rem 1rem;
    background-color: var(--gr-color);
}