---
    import Layout from './Layout.astro';
    import IntroSimulation from '../components/IntroSimulation.astro';
    import FullWidthCenter from '../components/FullHeightCenter.astro';
    import HalfWidth from '../components/HalfWidth.astro';
---

<Layout title="Dynamical JS">
    <div class='fixed w-[50vw] h-[100vh] flex justify-end items-center'>
        <IntroSimulation/>
        <div class='w-[1px] h-[20vh] bg-[white] m-5 mr-6'> </div>
    </div>
    <div class='pl-[50vw] flex flex-col'>
        <slot />
    </div>
</Layout>
